<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78433260359-g7c1obb6dii7a1j2q9jmadgb8d4rsn5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78433260359-g7c1obb6dii7a1j2q9jmadgb8d4rsn5s</string>
	<key>API_KEY</key>
	<string>AIzaSyCdxmeqw9kzonwfMKSBTi23WPUMrLU0WU4</string>
	<key>GCM_SENDER_ID</key>
	<string>78433260359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theDigApp</string>
	<key>PROJECT_ID</key>
	<string>the-dig-app-c3c6d</string>
	<key>STORAGE_BUCKET</key>
	<string>the-dig-app-c3c6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78433260359:ios:f20648e02f6c59495e3262</string>
</dict>
</plist>